.profile-page-rect {
  width: 100%;
  height: 84vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-card {
  align-self: center;
  justify-self: center;
  width: 730px;
  height: 486px;
  background: var(--tree-brown);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 16px;
  margin-left: 24px;
  margin-bottom: 4px;
  padding: 0px;
  color: var(--black-2);
}

.title-seperator {
  margin: 0px 20px;
  width: auto;
  min-height: 1px;
  background: var(--black-2);
  z-index: 2;
}

.profile-form-element {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.profile-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  column-gap: 64px;
  margin: 32px 42px 20px 24px;
}

.address-fields-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 36px;
  column-gap: 64px;
  margin: 0px 42px 0px 24px;
}

.address-input {
  width: auto;
  height: 25px;
  background: var(--tree-brown);
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid var(--black-60);
  outline: none;
}

.address-input:focus {
  border-bottom: 1px solid var(--black-2);
}

.field-label {
  color: var(--black-2);
  margin-bottom: 4px;
}